  h3 {
    font-size: 36px !important;
  }

  canvas {
    border: 2px dashed black;
  }
  .btn-success:hover {
    background-color: rgb(79, 216, 136);
  }
  .btn-info:hover {
    background-color: rgb(152, 229, 255);
  }
  canvas{
    animation-name: foto;
    animation-duration: 9s;
    animation-iteration-count: infinite;
  }
  @keyframes foto{
    from{box-shadow: 1px 1px 38px rgb(0, 255, 255);}
    to{box-shadow: 1px 1px 38px rgb(0, 81, 255);}
  }